@model Supervision.Models.SpecialPermit
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section main {
    <h2>
        Создать</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Спец.разрешение</legend>
            <div class="editor-label">
                Организация
            </div>
            <div class="editor-field">
                @Html.DropDownList("ORGANIZATION_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.ORGANIZATION_ID)
            </div>
            <div class="editor-label">
                Описание маршрута
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ROUTE_DESCRIPTION)
                @Html.ValidationMessageFor(model => model.ROUTE_DESCRIPTION)
            </div>
            <div class="editor-label">
                Дата начала срока действия
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.START_DATE)
                @Html.ValidationMessageFor(model => model.START_DATE)
            </div>
            <div class="editor-label">
                Дата окончания срока действия
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FINISH_DATE)
                @Html.ValidationMessageFor(model => model.FINISH_DATE)
            </div>
            <div class="editor-label">
                Тип груза
            </div>
            <div class="editor-field">
                @Html.DropDownList("CARGO_TYPE", String.Empty)
                @Html.ValidationMessageFor(model => model.CARGO_TYPE)
            </div>
            <div class="editor-label">
                Статус СР
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.STATUS)
                @Html.ValidationMessageFor(model => model.STATUS)
            </div>
            <div class="editor-label">
                Количество поездок
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TRIPS_COUNT)
                @Html.ValidationMessageFor(model => model.TRIPS_COUNT)
            </div>
            <p>
                <input type="submit" value="Выдать" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Вернуться к списку", "Index")
    </div>
}
