<html>
<head>
    <style>
        A:link
        {
            color: #aaaaaa /*The color of the link*/;
        }
        A:visited
        {
            color: #888888 /*The color of the visited link*/;
        }
        A:hover
        {
            color: #bbbbbb /*The color of the mouseover or 'hover' link*/;
        }
        body
        {
            font-family: sans-serif;
        }
    </style>
    @RenderSection("script", required: false)
</head>
<body onload='if (window.init) init(37.62, 55.75, 13);'>
    <table width="100%" border="0">
        <tr>
            <td colspan="2" style="background-color: #dddddd; color: #555; padding: 5 5 5 5;
                border-radius: 10px" valign="middle">
                <a href="../Supervision/Index"> <img src="../../images/rostransnadzor.png" width="40px" height="40px" /></a>
                <div style="display:inline; vertical-align:middle">
                    УГАДН: Контроль за перевозками ОГ</div>
            </td>
        </tr>
        <tr valign="top">
            <td style="background-color: #dddddd; color: #555; text-align: top; padding: 15 15 15 15;
                border-radius: 10px; width: 50px;">
                <b>Меню</b><br />
                @Html.ActionLink("Спец.разрешения", "Index", "SpecialPermits")<br />
                @Html.ActionLink("Организации", "Index", "Org")<br />
                @Html.ActionLink("Мониторинг ТС", "Index", "Oim")<br />
                @Html.ActionLink("Типы грузов", "Index", "Cargos")<br />
            </td>
            <td style="background-color: white; height: 200px; text-align: top; padding: 15 5 5 35;
                border-radius: 10px">
                @RenderSection("main")
            </td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: #dddddd; color: #555; padding: 5 5 5 5;
                border-radius: 10px">
                <p style="text-align: right">
                    © 2013 <a href="mailto:gerasimov.pk@gmail.com">Павел Герасимов</a>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
